.background {
    box-sizing: border-box;
}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.header {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 4em;
    margin-bottom: 20px;
}

#header1 {
    width: auto;
    height: 50px;
}

#header2 {
    width: auto;
    height: 50px;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
    opacity: 0;
}

#head1 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
}

#head2 {
    -webkit-animation: fadeOut 1 5s ease-in;
    -moz-animation: fadeOut 1 5s ease-in;
    -o-animation: fadeOut 1 5s ease-in;
    animation: fadeOut 1 5s ease-in;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
}